.App {
    background-color: #222;
    position: absolute;
    width: 100%;
    height: 100%;
}
.welcomeBTN {
    position: relative;
    top: 20vh;
    left: 45vw;
    width: 15vw;
    height: 2vh;
    text-decoration-color: #222;
}
.img {
    position: relative;
    display: flex;
    align-items: center;
    width: 30vw;
    height: 35vh;
    max-width: 60vw;
    max-height: 50vh;
    top: 12vh;
    left: 34vw;
    justify-content: center;
    align-items: center;
}