body {
    background-color: #222;
    position: absolute;
}
.welcomeBTN {
    position: relative;
    top: 20vh;
    left: 45vw;
    width: 15vw;
    height: 2vh;
    text-decoration-color: #222;
}
img {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 60vw;
    max-height: 50vh;
    top: 12vh;
    left: 32vw;
    justify-content: center;
    align-items: center;
}