.welcomeBTN {
    position: absolute;
    top: 50%;
    left: 45%;
}
p {
    position: absolute;
    font-size: 4em;
    top: 20%;
    left: 35%;
    justify-content: center;
    align-items: center;
}